.nav {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  border: 1px solid black;
  width: 95vw;
}
.btn {
  font-weight: 800;
  padding: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.primary {
  background-color: white;
  border-color: black;
  color: black;
}

.secondary {
  background-color: black;
  border-color: black;
  color: white;
}

.important {
  background-color: red;
  border-color: red;
  color: white;
}

.container {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 20px;
}

.success {
  border: 2px solid green;
  color: white;
  background-color: rgb(158, 174, 158);
}
.warning {
  border: 2px solid orange;
  color: white;
  background-color: hsl(40, 55%, 70%);
}

.error {
  border: 2px solid red;
  color: white;
  background-color: rgb(175, 133, 133);
}

.img-container {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}
.square {
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

.dark {
  background-color: black;
}
.nav.dark a {
  color: white;
}
